
<div class="col-xs-12 about">
  <div class="container-fluid">
  <h1 class="text-center">About Us</h1>
  <div class="col-xs-12">
    <p>
   I have always been curious about humans and the way they live and think. I have decided to share my findings and insights on this website. If you are like me, then please, share your insights with us! 
  </p>
  <br/ >
  <br/ >
  </div>
  
 
  </div>
<div class="container-fluid">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'claudia.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>Claudia Almeida</h2>
    <br />
    <p>
      Claudia is a multimedia designer and developer. She helped me build this site because I don't know Ruby on Rails, and also because I have no fingers so unfortunately I can't type. Claudia is originally from Brazil and shares my curiosity about Homo Sapiens. She enjoys coding, designing stuff, fixing stuff and dancing.
    </p>
  </div>
</div>
<br/ >
<br/ >

<div class="container-fluid">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'fox.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>The Fox</h2>
    <br />
    <p>
      Born and raised in Yosemite Park, I am the first of my kind to actually take the time to undestand and study people. I have a degree in early Human development from Joshua Tree University. In my spare time, I like people watching, digging holes, and chasing small mammals. 
<br/ >
<br/ >
<br/ >
<br/ >
    </p>
  </div>

</div>
</div>










