
<div class="col-xs-12 about">
  <h1 class="text-center">About The Fox</h1>

  <p>
   I have always been curious about humans and the way they live and think. I have decided to share my findings and insights on this website. If you are like me, then please, share your insights with us! 
  </p>
<br/ >
<br/ >
<div class="container">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'claudia.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>Claudia Almeida</h2>
    <br />
    <p>
      Claudia is a multimedia designer and developer. She helped me build this site because I don't know rails, and also because I have no fingers so I can't type. Claudia is originally from Brazil and shares my curiosity about Homo Sapiens.
    </p>
  </div>
</div>
<br/ >
<br/ >

<div class="container">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'fox.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>The Fox</h2>
    <br />
    <p>
      Born and raised in Yosemite Park, Foxxy is the first of her kind to actually take the time to undestand and study people. She has a degree in early Human development from Joshua Tree University. 
<br/ >
<br/ >
<br/ >
<br/ >
    </p>
  </div>

</div>
</div>

</div>








