<br class="hidden-xs" />
<br class="hidden-xs" />
<h2>
	<span>ENTRY / No <%= @quote.id %> from Journal </span> <i>Daily Observations About the Human Race Vol.XV </i>
</h2>

<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>

<br class="clear"/>
<br />
<br class="hidden-xs" />
<br class="hidden-xs" />