html {
	position: relative;
	min-height: 100%;
}
body {
	/*Margin bottom by fotter height*/
	margin-bottom: 60px;
	background-image: url('footer-image.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom 60px center;	
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #000000;
	
}