.clear {
	clear:both;
}


.slogan{
	font-family: "parisine-plus-std-gris", sans-serif;
	font-style: italic;
	font-size: 12px;
    margin-top: -15px;
    text-align: center;	
    color: #B9B9B8;
}

.links{
	padding-top: 35px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.links a{
	color: #B9B9B8;
	font-size: 25px;
    font-family: "parisine-plus-std-gris", sans-serif;
	font-weight: bold;
}

.links a:hover{
	color: #F54548;
	text-decoration: none;
}

.header{
	border-top: 9px solid #222222;

}

hr {
	clear:both;
}

.logo {
    font-family: "ff-providence-web-pro", sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #B9B9B8;
}

.logo:hover {
    
    color: #f84342;
}

h1 {
    font-family: "parisine-plus-std-gris", sans-serif;
}

h2 {
    font-family: "parisine-plus-std-gris", sans-serif;
    
}

/****STICKY FOOTER****/

.footer p {
    font-family: "parisine-plus-std-gris", sans-serif;
    text-align: center;
    padding-top: 20px;
}

.next-quote {
    font-family: "parisine-plus-std-gris", sans-serif;
    text-align: center;
    font-size: 40px;
    
}

.next-quote a{
    color:#f84342;
}

.next-quote a:hover{
    text-decoration: none;
    text-transform: uppercase;
}

.text-muted a{
    color: #B9B9B8;
}

.text-muted a:hover{
    text-decoration: none;
    color: inherit;
}

/****MEDIA QUERIES****/














